vagrant/.vagrant/machines/client02/virtualbox/vagrant_cwd
lib/__pycache__/copy.cpython-37.pyc
vagrant/.vagrant/machines/client02/virtualbox/action_set_name
vagrant/.vagrant/machines/client02/virtualbox/creator_uid
vagrant/.vagrant/machines/client02/virtualbox/id
vagrant/.vagrant/machines/client02/virtualbox/index_uuid
.pytest_cache/v/cache/nodeids
.pytest_cache/v/cache/stepwise
vagrant/.vagrant/machines/client03/virtualbox/vagrant_cwd
vagrant/.vagrant/machines/client02/virtualbox/action_provision
vagrant/.vagrant/machines/client02/virtualbox/box_meta
vagrant/.vagrant/machines/client02/virtualbox/private_key
vagrant/.vagrant/machines/client02/virtualbox/synced_folders
vagrant/.vagrant/machines/client03/virtualbox/action_set_name
vagrant/.vagrant/machines/client03/virtualbox/creator_uid
vagrant/.vagrant/machines/client03/virtualbox/id
vagrant/.vagrant/machines/client03/virtualbox/index_uuid
