vagrant/.vagrant/machines/client02/virtualbox/vagrant_cwd
lib/__pycache__/copy.cpython-37.pyc
vagrant/.vagrant/machines/client02/virtualbox/action_set_name
vagrant/.vagrant/machines/client02/virtualbox/creator_uid
vagrant/.vagrant/machines/client02/virtualbox/id
vagrant/.vagrant/machines/client02/virtualbox/index_uuid
.pytest_cache/v/cache/nodeids
.pytest_cache/v/cache/stepwise
vagrant/.vagrant/machines/client03/virtualbox/vagrant_cwd
vagrant/.vagrant/machines/client02/virtualbox/action_provision
vagrant/.vagrant/machines/client02/virtualbox/box_meta
vagrant/.vagrant/machines/client02/virtualbox/private_key
vagrant/.vagrant/machines/client02/virtualbox/synced_folders
vagrant/.vagrant/machines/client03/virtualbox/action_set_name
vagrant/.vagrant/machines/client03/virtualbox/creator_uid
vagrant/.vagrant/machines/client03/virtualbox/id
vagrant/.vagrant/machines/client03/virtualbox/index_uuid
lib/__pycache__/json_reader.cpython-37.pyc
.vscode/settings.json
vagrant/.vagrant/machines/client01/virtualbox/action_set_name
vagrant/.vagrant/machines/client01/virtualbox/action_provision
vagrant/.vagrant/machines/client01/virtualbox/box_meta
vagrant/.vagrant/machines/client01/virtualbox/creator_uid
vagrant/.vagrant/machines/client01/virtualbox/id
vagrant/.vagrant/machines/client01/virtualbox/index_uuid
vagrant/.vagrant/machines/client01/virtualbox/private_key
vagrant/.vagrant/machines/client01/virtualbox/synced_folders
vagrant/.vagrant/machines/client01/virtualbox/vagrant_cwd
vagrant/.vagrant/machines/files/virtualbox/action_provision
vagrant/.vagrant/machines/files/virtualbox/action_set_name
vagrant/.vagrant/machines/files/virtualbox/box_meta
vagrant/.vagrant/machines/files/virtualbox/creator_uid
vagrant/.vagrant/machines/files/virtualbox/id
vagrant/.vagrant/machines/files/virtualbox/index_uuid
vagrant/.vagrant/machines/files/virtualbox/private_key
vagrant/.vagrant/machines/files/virtualbox/synced_folders
vagrant/.vagrant/machines/files/virtualbox/vagrant_cwd
vagrant/.vagrant/machines/client01/virtualbox/box_meta
vagrant/.vagrant/machines/client01/virtualbox/action_provision
vagrant/.vagrant/machines/client01/virtualbox/action_set_name
vagrant/.vagrant/machines/client01/virtualbox/creator_uid
vagrant/.vagrant/machines/client01/virtualbox/id
vagrant/.vagrant/machines/client01/virtualbox/index_uuid
vagrant/.vagrant/machines/client01/virtualbox/private_key
vagrant/.vagrant/machines/client01/virtualbox/synced_folders
vagrant/.vagrant/machines/client01/virtualbox/vagrant_cwd
vagrant/.vagrant/machines/files/virtualbox/action_provision
vagrant/.vagrant/machines/files/virtualbox/action_set_name
vagrant/.vagrant/machines/files/virtualbox/box_meta
vagrant/.vagrant/machines/files/virtualbox/creator_uid
vagrant/.vagrant/machines/files/virtualbox/id
vagrant/.vagrant/machines/files/virtualbox/index_uuid
vagrant/.vagrant/machines/files/virtualbox/private_key
vagrant/.vagrant/machines/files/virtualbox/synced_folders
vagrant/.vagrant/machines/files/virtualbox/vagrant_cwd
vagrant/.vagrant/machines/client03/virtualbox/synced_folders
vagrant/.vagrant/machines/client03/virtualbox/action_provision
vagrant/.vagrant/machines/client03/virtualbox/box_meta
vagrant/.vagrant/machines/client03/virtualbox/private_key
lib/__pycache__/copy.cpython-36.pyc
lib/__pycache__/json_reader.cpython-36.pyc
lib/__pycache__/json_reader.cpython-34.pyc
lib/__pycache__/copy.cpython-34.pyc
vagrant/IPs.txt
vagrant/.vagrant/machines/CLIENT09/virtualbox/creator_uid
vagrant/.vagrant/machines/CLIENT04/virtualbox/action_provision
vagrant/.vagrant/machines/CLIENT04/virtualbox/action_set_name
vagrant/.vagrant/machines/CLIENT04/virtualbox/box_meta
vagrant/.vagrant/machines/CLIENT04/virtualbox/creator_uid
vagrant/.vagrant/machines/CLIENT04/virtualbox/id
vagrant/.vagrant/machines/CLIENT04/virtualbox/index_uuid
vagrant/.vagrant/machines/CLIENT04/virtualbox/private_key
vagrant/.vagrant/machines/CLIENT04/virtualbox/synced_folders
vagrant/.vagrant/machines/CLIENT04/virtualbox/vagrant_cwd
vagrant/.vagrant/machines/CLIENT05/virtualbox/action_provision
vagrant/.vagrant/machines/CLIENT05/virtualbox/action_set_name
vagrant/.vagrant/machines/CLIENT05/virtualbox/box_meta
vagrant/.vagrant/machines/CLIENT05/virtualbox/creator_uid
vagrant/.vagrant/machines/CLIENT05/virtualbox/id
vagrant/.vagrant/machines/CLIENT05/virtualbox/index_uuid
vagrant/.vagrant/machines/CLIENT05/virtualbox/private_key
vagrant/.vagrant/machines/CLIENT05/virtualbox/synced_folders
vagrant/.vagrant/machines/CLIENT05/virtualbox/vagrant_cwd
vagrant/.vagrant/machines/CLIENT06/virtualbox/action_provision
vagrant/.vagrant/machines/CLIENT06/virtualbox/action_set_name
vagrant/.vagrant/machines/CLIENT06/virtualbox/box_meta
vagrant/.vagrant/machines/CLIENT06/virtualbox/creator_uid
vagrant/.vagrant/machines/CLIENT06/virtualbox/id
vagrant/.vagrant/machines/CLIENT06/virtualbox/index_uuid
vagrant/.vagrant/machines/CLIENT06/virtualbox/private_key
vagrant/.vagrant/machines/CLIENT06/virtualbox/synced_folders
vagrant/.vagrant/machines/CLIENT06/virtualbox/vagrant_cwd
vagrant/.vagrant/machines/CLIENT07/virtualbox/action_provision
vagrant/.vagrant/machines/CLIENT07/virtualbox/action_set_name
vagrant/.vagrant/machines/CLIENT07/virtualbox/box_meta
vagrant/.vagrant/machines/CLIENT07/virtualbox/creator_uid
vagrant/.vagrant/machines/CLIENT07/virtualbox/id
vagrant/.vagrant/machines/CLIENT07/virtualbox/index_uuid
vagrant/.vagrant/machines/CLIENT07/virtualbox/private_key
vagrant/.vagrant/machines/CLIENT07/virtualbox/synced_folders
vagrant/.vagrant/machines/CLIENT07/virtualbox/vagrant_cwd
vagrant/.vagrant/machines/CLIENT08/virtualbox/action_provision
vagrant/.vagrant/machines/CLIENT08/virtualbox/action_set_name
vagrant/.vagrant/machines/CLIENT08/virtualbox/box_meta
vagrant/.vagrant/machines/CLIENT08/virtualbox/creator_uid
vagrant/.vagrant/machines/CLIENT08/virtualbox/id
vagrant/.vagrant/machines/CLIENT08/virtualbox/index_uuid
vagrant/.vagrant/machines/CLIENT08/virtualbox/private_key
vagrant/.vagrant/machines/CLIENT08/virtualbox/synced_folders
vagrant/.vagrant/machines/CLIENT08/virtualbox/vagrant_cwd
vagrant/.vagrant/machines/CLIENT09/virtualbox/action_provision
vagrant/.vagrant/machines/CLIENT09/virtualbox/action_set_name
vagrant/.vagrant/machines/CLIENT09/virtualbox/box_meta
vagrant/.vagrant/machines/CLIENT09/virtualbox/id
vagrant/.vagrant/machines/CLIENT09/virtualbox/index_uuid
vagrant/.vagrant/machines/CLIENT09/virtualbox/private_key
vagrant/.vagrant/machines/CLIENT09/virtualbox/synced_folders
vagrant/.vagrant/machines/CLIENT09/virtualbox/vagrant_cwd
vagrant/.vagrant/machines/SRV-FILE/virtualbox/action_provision
vagrant/.vagrant/machines/SRV-FILE/virtualbox/action_set_name
vagrant/.vagrant/machines/SRV-FILE/virtualbox/box_meta
vagrant/.vagrant/machines/SRV-FILE/virtualbox/creator_uid
vagrant/.vagrant/machines/SRV-FILE/virtualbox/id
vagrant/.vagrant/machines/SRV-FILE/virtualbox/index_uuid
vagrant/.vagrant/machines/SRV-FILE/virtualbox/private_key
vagrant/.vagrant/machines/SRV-FILE/virtualbox/synced_folders
vagrant/.vagrant/machines/SRV-FILE/virtualbox/vagrant_cwd
